
<link rel="stylesheet" href="/public/css/styles.css">
        <h1>Bienvenido a Gestor Financiero</h1>

    </header>
    <main>
        <section class="intro">
            <h2>Gestione sus finanzas de manera eficiente</h2>
            <p>Con nuestro gestor financiero, puede controlar sus ingresos y gastos, crear presupuestos, y alcanzar sus metas financieras.</p>
        </section>

<a href="/login">inicia session </a>
|
<a href="/register">Registrate</a>
    </main>
    <footer>
        <p>&copy; 2024 Gestor Financiero. Todos los derechos reservados.</p>
    </footer>



