<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestor Financiero</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body class="principal">
    <header>
      <h1>Bienvenido a Gestor Financiero</h1>
    </header>
    <main>
      <section class="intro">
        <h2>Gestione sus finanzas de manera eficiente</h2>
        <p>Con nuestra herramienta, puedes registrar tus ingresos y gastos de
          manera sencilla y obtener una representación clara de tu balance
          financiero. Te ayudamos a tener un control consciente y organizado de
          tus finanzas.</p>
        <a href="/login" class="button">Iniciar Sesión</a>
        <!-- Movido debajo del recuadro -->
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Gestor Financiero. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>